@using Card_Sanctum.Core.Models
@model CreateDeckViewModel
@{
}

<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" aria-required="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-4">
                    <button id="login-submit" style="margin-top: 10px" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card-body p-0">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Type</th>

                    </tr>
                </thead>
                @foreach (var card in Model.Cards)
                {
                    @using (Html.BeginForm("RemoveFromDeck", "Deck", FormMethod.Post))
                    {
                        @Html.Hidden("cardId", card.Id)
                        @Html.Hidden("deckId", Model.Id)

                        <tbody>
                            <tr>
                                <td>@card.Name</td>
                                <td>@card.Type</td>

                                <td>
                                    <button id="Index" class="btn btn-primary">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    }
                }

            </table>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
