@using Card_Sanctum.Core.Models

@{
}

@model IEnumerable<CreateDeckViewModel>

<div class="content" >
    <div class="deck" style="text-align: center">
        <h1 class="deck-title">All your decks:</h1>
    </div>

    <div class="deck">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Description</th>


                </tr>
            </thead>
            @foreach (var deck in Model)
            {
                @Html.Hidden("id", deck.Id)
                ;
                <tbody>
                    <tr>
                        <td>@deck.Name</td>
                        <td>@deck.Description</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Deck", new { id = deck.Id }, new { @class = "btn btn-primary" })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Deck", new { id = deck.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                </tbody>
            }         
        </table>
        
                
                <a href="~/deck/create" class="btn btn-primary" style="display:block; margin: 0 auto; max-width:80px;" >
                    <p style="text-align:center">Create</p>
                </a>

                     
    </div>

</div>
