@using Card_Sanctum.Core.Models
@model CardPagingViewModel

<paging page-no="@Model.PageNumber"
        page-size="@Model.PageSize"
        total-records="@Model.TotalRecords"
        page-size-dropdown-items="5-10-20">
</paging>

<div class="card">
    <div class="card-header">
        <h1 class="card-title">All cards in DataBase:</h1>
    </div>

    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Name</th>
                    <th>Type</th>
                    <th>Rarety</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>Quantity</th>

                </tr>
            </thead>
            @foreach (var card in Model.Cards)
            {
                @using (Html.BeginForm("AddToCollection", "Card", FormMethod.Post))
                {
                    @Html.Hidden("id", card.Id);
                    <tbody>
                        <tr>
                        <td>@card.Name</td>
                        <td>@card.CardType</td>
                        <td>@card.Rarety</td>
                        <td>@card.Color</td>
                        <td>@card.Price</td>
                        <td>@card.Quantity</td>
                        <td>
                            <button id="Index" method="post" class="btn btn-primary">Add to collection</button>
                           
                           @*<button class="btn btn-primary btn-block" asp-area = "admin" asp-action = "AddToCollection" asp-controller = "card" asp-route-id=@card.Id>Add to collection</button>*@

                           @*<a asp-area = "admin" asp-action = "index" asp-controller = "card"  class="btn btn-block btn-outline-dark btn-sm">Edit</a>*@
                        </td>
                    </tr>
                </tbody>
                }
            }

        </table>
    </div>

</div>